<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FMK - Starting game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <style>
        .bholder {
            text-align: center;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column" style="text-align: center;">
                    <div class="notification is-info is-size-1">
                        🍆
                        <div class="is-size-5">
                            <div class="field is-grouped bholder">
                                <p class="control">
                                    <a class="button is-dark is-invisible" id="fuck-1">
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-dark is-invisible" id="fuck-2">
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-dark is-invisible" id="fuck-3">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column" style="text-align: center;">
                    <div class="notification is-dark is-size-1">
                        💍
                        <div class="is-size-5">
                            <div class="field is-grouped bholder">
                                <p class="control">
                                    <a class="button is-info is-invisible" id="marry-1">
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-info is-invisible" id="marry-2">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column" style="text-align: center;">
                    <div class="notification is-danger is-size-1">
                        🔫
                        <div class="is-size-5">
                            <div class="field is-grouped bholder">
                                <p class="control">
                                    <a class="button is-dark is-invisible" id="kill-1">
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-dark is-invisible" id="kill-2">
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-dark is-invisible" id="kill-3">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function shuffle(arrayIn) {
            /**@type {Array}*/
            var array = arrayIn.slice(0);
            var tmp, current, top = array.length;

            if (top)
                while (--top) {
                    current = Math.floor(Math.random() * (top + 1));
                    tmp = array[current];
                    array[current] = array[top];
                    array[top] = tmp;
                }
            return array;
        }

        const socket = io();
        var code = "<%= gcode %>";
        console.log(code)
        socket.emit("join", {
            gcode: code,
            name: "<%= name %>"
        })
        socket.on("_err", alert)
        socket.on("u are master", function() {
            console.log("I am master yay");
            socket.on("people", function(p) {
                var pShuffled = shuffle(p);
                //$(".container").append(pShuffled.slice(0, 3).join(","));
                ["fuck-1", "fuck-2", "fuck-3"].forEach(function(el, i) {
                    var b = $("#" + el);
                    b.text(pShuffled[i]);
                    b.toggleClass("is-invisible");
                    b.prop("disabled", false);
                })
            })
        })
        socket.on("disconnect", function(r) {
            $("body").prepend("<div class='notification is-danger'> <strong>Lost connection</strong> to server. Please let Jay know</strong></div>")
        })
    </script>
</body>

</html>